<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <% for (let c of comments) {%>
            <li><%= c.comment %> <b><%= c.username %></b></li>
            <a href="/comments/<%= c.id %>">expand</a>
            <a href="http://localhost:3000/comments/<%=c.id%>/edit">Edit</a>
            <form method="POST" action="http://localhost:3000/comments/<%=c.id%>?_method=DELETE"><button>Delete</button></form>
            <% }%>
    </ul>
    <button><a href="http://localhost:3000/comments/new">Create new Comment</a></button>
</body>
</html>